@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

*, html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

body {
    background-color: grey;
}